<section class="block hero">
    <header class="container block__header">
        <a aria-label="Clipboard" class="hero__logo" href="/"><img src="images/logo.svg" alt="" /></a>
        <h1 class="block__heading">A history of everything you copy</h1>
        <p>Clipboard allows you to track and organize everything you copy. Instantly access your clipboard on all your devices.</p>
    </header>
    <div class="buttons">
        <a href="#" class="btn btn--primary">Download for iOS</a>
        <a href="#" class="btn btn--secondary">Download for Mac</a>
    </div>
</section>
